#!/usr/bin/env bash

alias sudo='sudo ' # Enable aliases to be sudo’ed

### utility aliases
alias activate='source python/bin/activate' # activate a virtual environment
aws='ec2-34-208-119-93'
alias myaws='ssh -i "~/.ssh/ProjectInstance.pem" ubuntu@ec2-50-112-9-10.us-west-2.compute.amazonaws.com'
function gosu(){
    mv "$1" /Applications/osu!.app/drive_c/osu!/Songs
}
function Pwn() {
    VBoxManage startvm Pwn --type headless
    ssh beachicus@localhost -p 3022
    VBoxManage controlvm Pwn acpipowerbutton
}

function gitdump {
    if [ ! -d ".git" ]; then
        git init
    fi
    git add -A && git commit -m dump
}
alias browse_wp='chrome-cli open http://localhost:8888/wordpress'
alias start_wp='/Applications/MAMP/bin/start.sh &'
alias stop_wp='/Applications/MAMP/bin/stop.sh &'
alias yo='projects && echo -e '\n\n\n' && c youngmis-website'
alias screenshots='open ~/Desktop'
alias recent='ls -t | head'
alias opush='git push --set-upstream origin master'
alias sodomize='\rm'
alias vimcolors='c ~/.vim/bundle/vim-colorschemes/colors'
alias mycolors='vimcolors && vim Monokai.vim && clear && c -'
alias py='python -c'
alias rm='sl'
alias cc='pbcopy'
alias chex='chmod u+x'
alias die='pkill python'
alias finder='open .'
alias h='heroku'
alias how='howdoi'
alias ida='wine ~/.wine/drive_c/Program\ Files\ \(x86\)/IDA\ 6.8/idaq64.exe' # IDA disassembler
alias ida32='wine ~/.wine/drive_c/Program\ Files\ \(x86\)/IDA\ 6.8/idaq.exe'
alias l='less -r' # use less for reading colored log files
alias v='vim'
alias m='make'
alias i='ipython'
alias p='python3'
alias paste='pbpaste | pbcopy' # clean weird characters from clipboard
alias pi='pip install --upgrade'
alias xcode='open -a Xcode'
alias desk='open ~/Desktop'

function ctf () {
    mv "$1" ~/me/projects/ctf
}

### context-switch aliases
alias cselabs='ssh "$cse"'
cse=beach144@kh4250-10.cselabs.umn.edu

alias art='c ~/me/projects/RoboticArtisans'
alias ASN3='c ~/me/classes/spring-2017/csci-4061/repo/Assignment_3'
alias ASN4='c ~/me/classes/spring-2017/csci-4061/repo/5162968_5054269'
alias books='c ~/me/reference/books'
alias bookmarks='c ~/me/projects/evernote-bookmarks'
alias ctf='c ~/me/projects/ctf'
alias dln='c ~/Downloads'
alias kidtech='c ~/me/projects/word-river'
alias prjs='c ~/me/projects'
alias so='c ~/me/projects/socli-dir/socli/socli'
alias soq='python ~/me/projects/socli-dir/socli/socli/socli.py --interactive --query '
alias 3081='c ~/me/classes/spring-2017/csci-3081'
alias 3081i='c ~/me/classes/spring-2017/csci-3081/repo-beach144/'
alias 3081p='3081 && c repos/repo-group-erasmus/project'
alias 4041='c ~/me/classes/spring-2017/csci-4041'
alias 5609='c ~/me/classes/spring-2017/csci-5609'
alias 5609p='c ~/me/classes/spring-2017/csci-5609/5609-Final-Project'


####################################################
# git aliases
####################################################

alias g='hub'
alias origin='git remote get-url origin'

## info
alias gs='git status -sb'
alias glog="git log --graph --pretty=format:'%Cred%h%Creset %an: %s - %Creset %C(yellow)%d%Creset %Cgreen(%cr)%Creset' --abbrev-commit --date=relative"

## diff
alias gd='git diff'
alias gdc='git diff --cached'

## commit
alias ga='git add'
alias gc='git commit'
alias gca='git commit -am'
alias gac='git add -A && git commit -m'

## stash
alias gst='git stash'
# checkout a single file from a branch
alias gst-grab='git checkout stash@{0} --'

## manipulate head
alias gb='git branch'
alias gco='git checkout'
alias g-undo='git reset HEAD~1 --soft'
alias grma='git rebase master --preserve-merges'

## fetch
alias gf='git fetch'
# nice pull
alias gl='git checkout master && git fetch && git rebase origin/master --preserve-merges --verbose'
alias gp='git push --set-upstream origin master'

function umn-clone () {
    owner=$1
    repo=$2
    git clone "https://github.umn.edu/${owner}/${repo}.git"
}

# open git repo in github
alias github="open https://github.$(git config remote.origin.url | cut -f2 -d.)"

## history
alias gmrg='git merge --no-ff --no-commit'
function grb { git rebase -i "HEAD~$1" ; } # `grb x` to rebase x commits back


# git branch checkout
function gbc {
    # show branches
    git branch
    if [[ $1 =~ ^[0-9]+$ ]] ; then
        index=$1
        # `$index`-th line of `git branch` output
        branch="$(git branch | head -n $index | tail -1 )"
        git checkout $branch
    else
        echo 'this function requires the branch-number to be switched to, counting by their listing in `git branch`, as the only argument.'
    fi
}

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# View HTTP traffic
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# Intuitive map function
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -n1"

# One of @janmoesen’s ProTip™s
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
	alias "$method"="lwp-request -m '$method'"
done

####################################################
# ls/grep/color configuration
####################################################

# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto --group-directories-first'
    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

alias ll='ls -alF'
alias la='ls -A'
# OSX
alias ls='ls -Gh'
