[user]
   name = Elliott Beach
   email = elliott2.71828@gmail.com

[github]
   user = e-beach

[branch]
    autosetuprebase = always

[color]
    ui = true

[core]
    excludesfile = ~/.gitignore

[credential]
    helper = cache --timeout=3600
