[user]
	email = elliott2.71828@gmail.com
	name = Elliott Beach
	signingkey = 542327C93B120828

[github]
   user = e-beach

[branch]
    autosetuprebase = always

[color]
    ui = true

[core]
    excludesfile = ~/.gitignore
    autocrlf = input
    #commentchar = auto
    editor = vim

[credential]
    helper = cache --timeout=3600

[hub]
	protocol = https

[commit]
    # template = ~/.gitmessage
[commit]
	gpgsign = true
    template = ~/.faas-gitmessage
