[user]
	email = elliott2.71828@gmail.com
	name = Elliott Beach

[github]
   user = e-beach

[branch]
    autosetuprebase = always

[color]
    ui = true

[core]
    excludesfile = ~/.gitignore
	autocrlf = input

[credential]
    helper = cache --timeout=3600
